
.iconos-nosotros{

    @include tablet {
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
        column-gap: 2rem;
    }

}
.icono {
    text-align: center;
    img {
        height: 10rem;
    }
    h3{
        text-transform: uppercase;
    }

}